body
{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box 
{
  width: 400px;
  padding: 10px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  text-align: center;

}

.box input[type = "text"],.box input[type= "password"]
{
    background: none;
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
    
}

.box input[type = "text"]:hover
{
 width:240px;
 border-color: yellow;
}

.box input[type= "password"]:hover
{
  width:240px;
  border-color: yellow;
 }

.box input[type="button"]
{
  width:80px;
  background-color:yellow;
  color: black;
  font-weight:600;
  border-radius: 5px;
  text-transform: uppercase;
}

.box input[type="button"]:hover
{
  width: 90px;
  border-color: white;
}