body
{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    padding: 10px;
    position:absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.but
{
    padding: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    text-align: center;
}

table
{
    padding: 10px;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}